body {
  background: white;
  color: darkgoldenrod;
  transition: 0.3s;
  padding: 15px 30px;
  font-family: serif;
}

body .card {
  color: black;
}

body.dark .navbar,a,svg,button {
  color: darkgoldenrod;
}

body.dark {
  background: #121212;
  color: goldenrod;
}

body.dark .card {
  background: #1e1e1e;
  color: white;
}

body.dark .navbar a,
body.dark .navbar svg,
body.dark .navbar button {
  color: goldenrod;
}

/* Homepage */
.home-page{
  margin-top: 30px;
  text-align: center;
  font-size: 32px;
}

/* Meal container */
.container{
  margin-top: 40px;
}

.category-container,
.meal-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  margin-top: 20px;
}

/* Meal Card */
.card {
  width: 150px;
  border-radius: 10px;
  padding: 10px 5px;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 0px 4px 12px rgba(227, 206, 206, 0.2);
}

.card:hover {
  transform: scale(1.08);
  box-shadow: 0px 8px 18px rgba(236, 166, 166, 0.35);
}

.card img {
  width: 120px;
  height: 120px;
  object-fit: contain;
  margin-bottom: 5px;
  transition: 0.3s ease;
}

.card:hover img {
  transform: scale(1.1);
}

.card p {
  font-size: 18px;
  font-weight: 600;
  text-transform: lowercase;
  background: linear-gradient(to top, black 20%, transparent);
  padding: 5px;
  border-radius: 5px;
  color:white;
}

/* Recipe Popup */
.popup-overlay{
  position: fixed;
  right: 20px;
  top: 20px;
  left: 20px;
  padding: 10px 20px;
  height: auto;
  background: rgba(78, 72, 72, 0.904);
  z-index: 999;
}

.popup-head{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.popup-head img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-btn{
  display: flex;
  justify-content: space-between;
}

.btn {
  margin-top: 15px;
  padding: 8px 20px;
  background: tomato;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn{
  border: none;
  background: none;
}

.btn svg {
  width: 20px;
  height: 20px;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  display: flex;
  flex-direction: column; 
  line-height: 1;
}

.meal {
  font-size: 38px;
  font-weight: 800;
  color: darkgoldenrod;
}

.explorer {
  font-size: 13px;
  letter-spacing: 2px;
  color: #888;
  margin-top: -2px;
}

.nav-search {
  display: flex;
  align-items: center;
  gap: 5px;
}

.nav-search input {
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.nav-end {
  display: flex;
  gap: 30px; 
  align-items: center;
  justify-content: space-between;
}

.nav-end a,.nav-end button{
  text-decoration: none;
  position: relative;
  font-size: 16px; 
  font-weight: 600;
  color: inherit;
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px 0;
}

.nav-end a::after,
.nav-end button::after  {
  content: "";
  position: absolute;
  height: 2px;
  width: 0%;
  left: 50%;
  bottom: -2px;
  background: darkgoldenrod;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.nav-end a:hover::after,
.nav-end button:hover::after{
  width: 100%;
}

.navbar button{
  border: none;
  background: none;
}

.navbar button svg {
  width: 20px;
  height: 20px;
}

