body {
  background: white;
  color: darkgoldenrod;
  transition: 0.3s;
  padding: 15px 30px;
  font-family: serif;
}

body .card {
  color: black;
}

body.dark {
  background: #121212;
  color: goldenrod;
}

body.dark .card {
  background: #1e1e1e;
  color: white;
}

body.dark .navbar a,
body.dark .navbar svg,
body.dark .navbar button {
  color: goldenrod;
}

body.dark .home p {
  color: #bbb;
}

/* Homepage */
.home {
  padding: 40px;
}

/* HERO SECTION */
.hero {
  height: 60vh;
  background: url("https://images.unsplash.com/photo-1504674900247-0877df9cc836")
    center/cover no-repeat;
  border-radius: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
}

.hero h1 {
  font-size: 48px;
  font-weight: 800;
}

.hero button {
  width: fit-content;
  padding: 12px 25px;
  border: none;
  background: darkgoldenrod;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

/* SECTION HEADER */
.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}

.section-header h2 {
  font-size: 20px;
}

.see-more {
  font-size: 22px;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 50%;
  transition: 0.3s;
}

.see-more:hover {
  font-size: 24px;
  font-weight:bolder ;
  background: rgba(190, 178, 178, 0.1);
}

/* HIDE SCROLLBAR */
.scroll-row {
  display: flex;
  overflow-x: auto;
  gap: 15px;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  padding: 10px 0;
}

.scroll-row::-webkit-scrollbar {
  display: none;
}

/* HOME CONTAINER */
.scroll-container {
  position: relative;
}

/* ARROW BUTTONS */
.scroll-btn {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  border: none;
  color: white;
  font-size: 26px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 5;
  border-radius: 4px;
}

.scroll-btn.left {
  left: 0;
}

.scroll-btn.right {
  right: 0;
}

.scroll-btn:hover {
  background: rgba(0,0,0,0.8);
}

/* HOME CARD */
.small-card {
  min-width: 140px;
  cursor: pointer;
  scroll-snap-align: start;
  transition: transform 0.3s;
}

.small-card:hover {
  transform: scale(1.08);
}

.small-card img {
  width: 100%;
  border-radius: 10px;
}

.small-card p {
  text-align: center;
  font-size: 14px;
}

/* Meal container */
.container{
  margin-top: 40px;
}

.category-container,
.meal-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  margin-top: 20px;
}

/* Meal Card */
.card {
  width: 150px;
  border-radius: 10px;
  padding: 10px 5px;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 0px 4px 12px rgba(227, 206, 206, 0.2);
}

.card:hover {
  transform: scale(1.08);
  box-shadow: 0px 8px 18px rgba(236, 166, 166, 0.35);
}

.card img {
  width: 120px;
  height: 120px;
  object-fit: contain;
  margin-bottom: 5px;
  transition: 0.3s ease;
}

.card:hover img {
  transform: scale(1.1);
}

.card p {
  font-size: 18px;
  font-weight: 600;
  text-transform: lowercase;
  background: linear-gradient(to top, black 20%, transparent);
  padding: 5px;
  border-radius: 5px;
  color:white;
}

/* Recipe Popup */
.popup-overlay{
  position: fixed;
  right: 20px;
  top: 20px;
  left: 20px;
  padding: 10px 20px;
  height: auto;
  background: rgba(78, 72, 72, 0.904);
  z-index: 999;
}

.popup-head{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.popup-head img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn{
  border: none;
  background: none;
}

.btn 
{
  margin-top: 5px;
  padding: 8px 20px;
  color: darkgoldenrod;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn svg {
  width: 25px;
  height: 25px;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-logo {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.meal {
  font-size: 28px;
  font-weight: 800;
}

.explorer {
  font-size: 12px;
  color: gray;
  letter-spacing: 2px;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.mode-btn {
  border: none;
  background: rgba(0,0,0,0.05);
  padding: 6px 10px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 16px;
}

.hamburger {
  font-size: 22px;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  z-index: 1500;
  backdrop-filter: blur(4px);
}

/* SIDEBAR MENU */
.mobile-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 40%;
  height: 100%;
  background: white;
  padding: 20px;
  transition: 0.3s ease;
  z-index: 2000;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: -5px 0 20px rgba(0,0,0,0.2);
}

.mobile-menu.open {
  right: 0;
}

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-header span {
  cursor: pointer;
  font-size: 20px;
}

.mobile-menu a,
.mobile-menu button {
  text-decoration: none;
  border: none;
  background: none;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  color: darkgoldenrod;
  position: relative;
  text-align: center;
}

.mobile-menu a::after,
.mobile-menu button::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0%;
  left: 50%;
  bottom: -5px;
  background: darkgoldenrod;
  transition: 0.3s;
  transform: translateX(-50%);
}

.mobile-menu a:hover::after,
.mobile-menu button:hover::after {
  width: 50%;
}

/* DESKTOP */
@media (min-width: 769px) {
  .hamburger {
    display: none;
  }

  .mobile-menu {
    display: none;
  }
}

/* MOBILE */
@media (max-width: 768px) {
  .hero {
    height: auto;
    padding: 20px;
  }

  .hero h1 {
    font-size: 26px;
  }

  .navbar {
    padding: 12px 16px;
  }

  .meal {
    font-size: 24px;
  }

  .explorer {
    font-size: 10px;
  }

  .container h1{
    font-size: 24px;
  }
}

